extends ../layout/main-layout.pug

block styles 
    link(rel="stylesheet", href="/auth.css")

block content 
    if message
        .errorMessage 
            h2 #{message}
    form(action="/new-password", method="POST") 
        .main-div
            .label
                label(for="password")#password-label New Password :
                br
                label(for="confirm-password")#password-label Confirm New Password :
            .input
                input(type="hidden", name="userId", value=userId)
                input(type="password", name="password")#password
                br
                input(type="password", name="confirm-password")#password
        center 
            button Update Password