extends ../layout/main-layout.pug

block styles 
    link(rel="stylesheet", href="/auth.css")

block content 
    if message
        .errorMessage 
            h2 #{message}
    form(action="/reset", method="POST") 
        .main-div
            .label
                label(for="email")#email-label Email :
            .input
                input(type="text", name="email")#email
        center 
            button Reset Password

    .errorMessage(style="margin-top: 50px;") 
        h2 After entering the email-id, a link will be provided in the same. Click on that link to reset your password.
