extends ../layout/main-layout.pug

block styles 
    link(rel="stylesheet", href="/forms.css")

block content
    
    main 
        if message
            .errorMessage 
                h2 #{message}
        form(action="/admin/add-products" method="POST", class="main-form", enctype="multipart/form-data")
            label(for="title", class="label-title-box") Title :
            br
            input(type="text", name="title", class="title-box", value=(oldInput) ? oldInput.title : '')#title
            br
            label(for="image", class="label-title-box") Image URL :
            br
            input(type="text", name="image", class="title-box", value=(oldInput) ? oldInput.image : '')#image
            br
            label(for="price", class="label-title-box") Price :
            br
            input(type="number", step=".01" name="price", class="title-box", value=(oldInput) ? oldInput.price : '')#price
            br
            label(for="description", class="label-title-box") Description :
            br
            - var description = (oldInput) ? oldInput.description : '';
            textarea(name="description", id="description", cols="30", rows="10").title-box #{description}
            br

            label(for="pdfFile", class="label-title-box") File :
            br
            input(type="file", name="pdfFile", id="pdfFile", class="title-box")
            br 
            center 
                button(type="submit").title-submit-button Add Product